<!DOCTYPE html>
<html lang="">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">{{ title }}</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
                        <li><a href="{{ url_for('messages') }}">Messages</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        <div class="container">
            <H1>{{ message }}</H1>
        </div>
        <!-- need a block content in your template so that your pages, e.g. messages.html have some place to go -->
        {% block content %}
        {% endblock %}
    </body>
</html>
